body{
    background-color: #3E1A5E;
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
}
header{
background-color: deepskyblue;
color: deepskyblue;
}
section{
    background-color: deepskyblue;
    color: deepskyblue;
}
footer{
    background-color: deepskyblue;
    color: deepskyblue;
}