body{
    background-color: #3E1A5E;
    color: 3E1A5E;
    font-family: Arial, sans-serif;
}
header{
background-color: deepskyblue;
color: rgb(0, 0, 0);
text-align: center;
padding: 30px

}

h1{
    font-size: 36px;
}

h2{
    color: #c02929;
}

p{
    font-size: 18px;
    line-height: 1.6;
}